<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5" class="getstart">

  <ion-list id="login-list3">
    <ion-item id="login-input1">
      <ion-label color="primary">
        Usuário
      </ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <ion-item id="login-input2">
      <ion-label color="primary">
        Senha
      </ion-label>
      <ion-input type="password" placeholder="" [(ngModel)]="senha"></ion-input>
    </ion-item>
  </ion-list>
  <div class="spacer" style="height:40px;" id="login-spacer1"></div>
  <button id="login-button4" ion-button color="positive" block style="color:#FFFFFF;" on-click="Login()">
    Entrar
  </button>


</ion-content>