<ion-tabs>
  <!--<ion-tab [root]="tab1Root" tabTitle="Produtos" tabIcon="ios-archive"></ion-tab> -->
  <ion-tab [root]="tab2Root" tabTitle="Leitor" tabIcon="md-barcode"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Carrinho" tabIcon="md-cart"></ion-tab>
</ion-tabs>
