<ion-header>
  <ion-toolbar>
    <ion-title>
      Dados Produto
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="image">
  <ion-list *ngFor="let dado of dadosProdutos">
    <ion-item>
      <ion-avatar item-start>
        <!-- <img src="{{character.image}}"> -->
      </ion-avatar>
      <h1> {{dado.nome}} </h1>
      <p>Marca do Produto</p>

    </ion-item>

    <!--     <ion-item >
      <ion-label stacked color="primary">Preco</ion-label>
      <ion-input type="number" name="preco"  [(ngModel)]="model.preco"></ion-input>  
    </ion-item>

    <ion-item>
      <ion-label stacked color="primary">Qtd Estoque</ion-label>
      <ion-input type="number" name="qtd"  [(ngModel)]="model.qtd"></ion-input>
    
    </ion-item>

    <ion-item>
      <ion-label stacked color="primary">Qtd de Compra</ion-label>
      <ion-input type="number" name="qtdCompra" [(ngModel)]="qtdCompra" ></ion-input> 
    </ion-item> -->

    <ion-item>
      <ion-label> Qtd Estoque: </ion-label>
      <ion-note item-end>
        {{dado.quant_estoque}}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label > Preço Produto: </ion-label>
      <ion-note  item-end>
        {{dado.preco_venda | currency}}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label color="black" >Quantidade:</ion-label>
      <ion-input type="number" placeholder="Digite a quantidade" text-right [(ngModel)]="qtdCompra" min="0"></ion-input>
    </ion-item>

  </ion-list>
  <div>
    <button ion-button block class="button-bottom" (click)="save()">
      Adicionar ao Carrinho
    </button>
  </div>



</ion-content>