page-modal-product {

    .button-bottom{
        position: relative;
        bottom: 30%;
        width: 100%;
        }


        .image{
            padding: 0px;
            background-image: url('../assets/img/background.jpg');
            background-size: cover;
        }
}
