<ion-header>
    <ion-toolbar>
        <button ion-button menuToggle left>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
          Produtos
        </ion-title>
       
      </ion-toolbar>
</ion-header>

<ion-content padding id="page2">
  <button id="produtos-button1" ion-button color="positive" block on-click="goToCarrinho()">
    Carrinho
  </button>
  <form id="produtos-form1">
    <ion-searchbar placeholder="" name="" id="produtos-search1"></ion-searchbar>


    <ion-list no-lines>
      <ion-item-group *ngFor="let group of groupedProducts">

        <ion-item-divider light>{{group.letter}}</ion-item-divider>
        <!-- <button ion-button clear *ngFor="let product of group.products"> {{product}} </button>  (click)="addProducts(product,5)" -->
        <ion-item *ngFor="let product of group.products"> {{product}}

          

            <button ion-button item-end clear (click)="showPrompt(product)" >

             <ion-icon name="md-add-circle" class=""></ion-icon>

          </button>
        </ion-item>

      </ion-item-group>
    </ion-list>
  </form>

</ion-content>