<ion-header>
  <ion-navbar>
    <ion-title>
      Editar Produto
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label color="primary" stacked>Nome</ion-label>
      <ion-input disabled="true" type="text" name="name" [(ngModel)]="model.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Preço</ion-label>
      <ion-input disabled="true" type="number" name="preco" [(ngModel)]="model.preco"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Quantidade</ion-label>
      <ion-input type="number" name="qtd" [(ngModel)]="model.qtd"></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button block (click)="save()">Salvar</button>

</ion-content>