<ion-menu [content]="mainContent">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content id="side-menu21" class="md">
      <ion-list id="menu-list2">
        <ion-item color="none" menuClose="" on-click="goToLogin()" id="menu-list-item3">
        <ion-icon name="ios-undo"> </ion-icon>Sair
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>


<ion-nav #mainContent [root]="rootPage"></ion-nav>

<!-- <ion-nav [root]="rootPage"></ion-nav> -->