<!--
  Generated template for the BarcodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="icon-menu"></ion-icon>
    </button>

    <ion-title>
      Codigo de Barras
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class = "t"  >

  <!-- 
  <DIV>
    <ion-item>

      <ion-input placeholder="Digite o código" type="text" [(ngModel)]="encodeText"></ion-input>

    </ion-item>

    <button ion-button block (click)="encode()">Gerar QR Code</button>
  </DIV>

 -->
  <div class="input-config">
    <ion-item >
      <ion-input placeholder="Digite o nome do Produto" type="text" [(ngModel)]="nomeProd"></ion-input>
    </ion-item>
      <button ion-button block (click)="PesquisaNome()">Buscar Produto</button>
    
  </div>


  <div>

    <!-- <div *ngIf="scannedData.text">
      <label>seu codigo de barra é </label>
      <span> {{scannedData.text}}</span>
    </div> -->

  </div>

  <div>
    <ion-fab bottom right>
      <button ion-fab (click)="scan()">
        <ion-icon name="ios-barcode-outline"> </ion-icon>
      </button>
    </ion-fab>
  </div>




</ion-content>