page-barcode {

.icon{

    font-size: 2.5em;
    
    
}

.t{
    background-image: url('../assets/img/background.jpg') no-repeat center center fixed;
    background-size: cover;
}


.middle-config > * 
{

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  

}

.input-config{
    padding-top: 26% 
}

.button-config{
    padding-top: 10%
}

.icon-menu{
    font-size:25px;

}

.background-color{
    background-color: lightblue
}

}
