<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Carrinho
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only class="btnFinalizar" (click)="showConfirm()">
        Finalizar
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  
<!--   <ion-card-content>
    <ion-item>
      <ion-label class="h2">Total: </ion-label>
      <ion-note class="note" item-end>
        0
      </ion-note>
    </ion-item>
  </ion-card-content> -->
  
  <ion-list>
    <ion-card *ngFor="let item of produtos">

      <!--       <ion-card-header>
        <ion-item>
          <ion-label  class="h2">Produto: </ion-label>
          <ion-note item-end>
            
          </ion-note>
        </ion-item>
      </ion-card-header> -->
      <ion-card-content>
        <ion-item>
          <ion-label class="h2">Produto: </ion-label>
          <ion-note class="note" item-end>
            {{ item.produto.name }}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label class="h2">Preco: </ion-label>
          <ion-note class="note" item-end>
            {{ item.produto.preco | currency }}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label class="h2">Quantidade: </ion-label>
          <ion-note item-end>
            {{ item.produto.qtd }}
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label class="h2">Total: </ion-label>
          <ion-note item-end>
            {{ item.produto.total | currency }}
          </ion-note>
        </ion-item>

      </ion-card-content>




      <ion-row text-center>
        <ion-col>
          <button ion-button icon-left clear small (click)="editProduct(item);">
            <ion-icon name="create"></ion-icon>
            <div>Editar</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small (click)="removeProduct(item);">
            <ion-icon name="trash"></ion-icon>
            <div>Excluir</div>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list>

  <!--   <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addContact()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab> -->
</ion-content>