page-carrinho {

.h2{
    font-size: 14px;
    color:  #488aff
}

.note{
   
    color: black;
    //font-weight: bold
    
}

.name-product{
    font-size: 15px;
    
}

.qtd-product{
    font-size: 14px;   
    font-weight: bold;
}

.icon{
    font-size:25px;

}

.btnFinalizar{
    font-size:15px;
    color: #488aff
    //font-weight: bold
    
}




}
